body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-haight: 24px;
  color: #ffffff;

  background-color: #dcdcdc;
 }

a {
  text-decoration: none;
  }
.top-menu {
  color: #ffffff;
  background-color: #dcdcdc;
}
.user-navigation,
.main-navigation,
.top-site-navigation
 {
  list-style: none;
 }
.user-navigation a
{
  font-family: Cuprum;
  font-size: 21px;
  line-haight: 21px;
  color: #000000;
 }
.main-navigation a
{
  font-family: Cuprum;
  font-size: 17px;
  line-haight: 17px;
  color: #ffffff;
 }
.top-menu a {
  font-family: Cuprum;
  font-size: 17px;
  line-haight: 18px;
  color: #ffffff;
 }
p .top-phone {
  font-family: Cuprum;
  font-size: 21px;
  line-haight: 21px;
  color: #ee3643;
}
.top-adress {
  font-family: Cuprum;
  font-size: 14px;
  line-haight: 21px;
  color: #32425c;
}
.user-navigation a:hover,
.user-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
.top-menu a:hover,
.top-menu a:focus {
   background-color: #212a3a;
}
.materials,
.tools,
.equipment,
.sale,
.delivery {
  font-family: Cuprum;
  font-weight: 700;
  font-size: 24px;
  line-haight: 30px;
  color: #ffffff;
}
.popular-goods h2,
.popular-brands h2,
.services h2,
.aboutus h2,
.contact h2
{
  font-family: Cuprum;
  font-size: 30px;
  line-haight: 30px;
  color: #32425c;
}
.popular-goods-list,
.popular-brands-item,
.service-list,
.aboutus
{
 list-style: none;
}
.services p,
.aboutus p,
.contact p {
  color: #000000;
}
.service-list a {
font-family: Cuprum;
font-weight: 700;
font-size: 24px;
line-haight: 30px;
color: #ffffff;
}
.delivery-company-list
{
  font-family: Cuprum;
  font-size: 18px;
  line-haight: 20px;
  color: #000000;
}
